#projects{
/*	height: 400px;
	width: 600px;*/
	margin-top: 50px;
	margin-bottom: 100px;
	margin-right: 100px;
	margin-left: 100px;
	padding: 5px;
}

.header{
	font-family: "Montserrat";
}

.content{
	font-family: "Crimson Text";
}

.row{
	margin-bottom: 5rem;
}